body {
  background: url(../img/smartphone-diary-and-silver-pen-on-black-workspace-desk-picjumbo-com.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Rubik Mono One', sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100vh; }

.hero {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 4rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 15%;
  margin-right: 10%; }
  @media (max-width: 710px) {
    .hero {
      font-size: 3rem;
      margin-bottom: 30%; } }
  .hero .message span {
    background-color: #1f1f1f;
    color: #ffff41;
    font-weight: 400;
    margin: 5px 0;
    display: inline-block; }
  .hero .action-message {
    margin-top: 10px;
    font-size: 2rem;
    background-color: #d2d23c;
    color: #1f1f1f;
    max-width: 180px;
    font-family: 'Lato', sans-serif;
    cursor: pointer; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 65, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden; }
  .modal .modal-content {
    max-width: 600px;
    background: white;
    padding: 30px;
    padding-top: 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px gray;
    position: absolute; }

.first-par {
  color: black;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold; }

.second-par {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #1f1f1f; }

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 0px;
  transition: all 100ms ease-in-out;
  z-index: 1000; }
  .close-btn:hover {
    text-shadow: 4px 4px 2px #969696; }

.text {
  max-width: 50%; }

.modal-content-img {
  background: url(../img/SplitShire-2640.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0;
  width: 300px;
  height: 385px;
  overflow: hidden; }

form {
  position: relative;
  z-index: 5;
  background: #1f1f1f;
  padding: 30px;
  width: 100%;
  margin: 0px -30px;
  width: 100%;
  top: 30px;
  border-radius: 0  0 5px 5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

input {
  height: 60px;
  border: none;
  display: inline-block;
  padding: 0;
  font-size: 1.2rem; }
  input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px #ffff41 inset; }

.email {
  padding: 0 20px;
  font-size: 1.2rem;
  margin-right: 10px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.submit {
  padding: 0 20px;
  background-color: #ffff41;
  color: #1f1f1f;
  font-weight: bold;
  cursor: pointer;
  transition: 100ms ease-in-out;
  text-transform: uppercase; }
  .submit:hover {
    background-color: #cccc0f; }

@media (max-width: 600px) {
  .modal-content-img {
    background: none; } }

@media (max-width: 430px) {
  .close-btn {
    right: 40px; } }
