$black: #1f1f1f;
$yellow: #ffff41;
body {
    background: url(../img/smartphone-diary-and-silver-pen-on-black-workspace-desk-picjumbo-com.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Rubik Mono One', sans-serif;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    height: 100vh;
}

.hero {
    align-self: flex-end;
    font-size: 4rem;
    display: flex;
    width: auto;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 15%;
    margin-right: 10%;
    @media(max-width: 710px) {
        font-size:3rem;
        margin-bottom: 30%;
    }
    .message span {
        background-color: $black;
        color: $yellow;
        font-weight: 400;
        margin: 5px 0;
        display: inline-block;
    }
    .action-message {
        margin-top: 10px;
        font-size: 2rem;
        background-color: $yellow;
        color: $black;
        max-width: 180px;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
    }
}

.modal{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba($yellow, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
    
    .modal-content{
        max-width:600px;
        background: white;
        padding: 30px;
        padding-top:0px;
        border-radius:5px;
        box-shadow: 0px 3px 15px gray;
        position: absolute;
       
        
    }
}
.first-par {
    color: black;
    font-size:2rem;
     font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}

.second-par{
    font-size: 1rem;
     font-family: 'Lato', sans-serif;
    color:$black;
}
.close-btn {
    position: absolute;
    right: 10px;
    top:10px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: all 100ms ease-in-out;
    z-index: 1000;
    &:hover{
        text-shadow:4px 4px 2px rgba(150, 150, 150, 1); ;
    }
   
    
    
}

.text {
    max-width:50%;
}



.modal-content-img {
    background: url(../img/SplitShire-2640.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top:0px;
    right:0;
    width:300px;
    height: 385px;
    overflow: hidden;
}

form{
    position:relative;
    z-index: 5;
    background: $black;
    padding: 30px;
    width: 100%;
    margin: 0px -30px;
    width: 100%;
    top:30px;
    border-radius: 0  0 5px 5px;
    display: flex;
    
}

input{
    height: 60px;
    border:none;
    display: inline-block;
    padding: 0;
    font-size: 1.2rem;
    &:focus{
    outline: none;
    box-shadow: 0px 0px 0px 4px $yellow inset;
        }
    
    
}

.email{
    padding: 0 20px;
    font-size: 1.2rem;
    margin-right: 10px;
    flex:1;
}

.submit{
    padding:0 20px;
    background-color: $yellow ;
    color: $black;
    font-weight: bold;
    cursor: pointer;
    transition: 100ms ease-in-out;
    text-transform: uppercase;
    &:hover{
        background-color: #cccc0f;
        
    }
}

@media(max-width:680px){
    .close-btn{
        
    }
}

@media(max-width:600px){
    .modal-content-img{
        background: none;
    }
}

@media(max-width:430px){
    .close-btn{
        right:40px;
        
    }
}



    

